body {
font-family: Georgia, 'Times New Roman', Times, serif;
line-height: 25px;
}

hr {
    width: 80%;
    margin-left: 0;
    margin-right: 50px;
    height:2px;
    background: gainsboro;
    border: none
}
h1 {
    text-align: right;
    padding-right: 30px;;
}
h2{
    margin: 0px auto;
    display: inline;
    background-image: linear-gradient(#fff 60%, #98C4C5 55%)
}
.flex{
    display: flex;
}
.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero {
    max-height: 400px;
    border-radius: 50%;
    display: block;
    margin: 50px auto;
}
#blurb {
    text-align: center;
    margin: 20px 50px;
}

